{% extends 'base.html' %}
{% block title %} Home  {% endblock title %}
{% block body %} 
<div class="container-fluid mx-auto d-block px-0 my-0 py-0" >
<div class="container-fluid my-2 mx-auto d-block py-2 px-6 ">
    
        
        <div class="carousel-inner  mx-auto d-block rounded ">
          
          <div class="carousel-item active mx-auto d-block rounded ">
            
            <img src="https://images.unsplash.com/photo-1598358338501-447be6725f6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&h=570&q=100" class="img-fluid " alt="Experience the greateness of Namma Karunadu">
            <div class="carousel-caption d-none d-md-block ">
              
                  </div>
          
        </div>
       
        
      </div>
      </div>

</div>
<div class="">
  <div class=" my-3">
    <h2 class="my-3 text-center rounded" style="font-size:30px;background-color:rgb(64,64,64);color:yellow;margin-left:50px;margin-right:50px;padding:10px;border-radius:15px 50px 30px 5px">Choose a package</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3cols ">
    <div class="cols">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1598358338501-447be6725f6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&h=700&q=80" class="mx-3img-fluid  my-3  d-block w-50.05" alt="Experience the greateness of Namma Karunadu">

        <div class="card-body">
          <p class="card-text">Namma Mysuru Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
            <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
        </form>  
            </div>
            <small class="text-muted"style="color:yellow">New Arrival</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1569571665379-f952b753ccc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&h=700&q=595" class="img-fluid d-block  my-3 w-50.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Hampi Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted blink"style="color:red"><H6 style="color:red"> <b>Trending</b></h6></small>
          </div>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1591885587747-bee871855d92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1440&h=700&q=80" class="img-fluid d-block my-3 w-60.05 " alt="...">

        <div class="card-body">
          <p class="card-text">Namma Badami Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted blink"style="color:red"><H6 style="color:red"> <b>Trending</b></h6></small>
            </div>
        </div>
      </div>
    </div>

    <div class="col ">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1631714712922-eaa39e4452fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8a2FybmF0YWthfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&h=270&q=60" class="img-fluid d-block  my-3  w-60.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Murudeshwara Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted"style="color:yellow"> Cost Friendly</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1620766165457-a8025baa82e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8a2FybmF0YWthfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&h=270&q=60" class="img-fluid d-block  my-3  w-60.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Agumbe Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted blink"style="color:red"><H6 style="color:red"> <b>Trending</b></h6></small>
            </div>
        </div>
      </div>
    </div>
    <div class="cols">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1561384129-7915cc5272bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bXVkaWdlcmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&h=270&h=270&q=60" class="img-fluid d-block  my-3  w-60.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Kuduremukha Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted"style="color:yellow"> Cost Friendly</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col ">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1562041523-ae7f9a2e8477?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmlkYXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&h=270&q=60" class="img-fluid d-block  my-3  w-60.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Bidar Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted blink"style="color:red"><H6 style="color:red"> <b>Trending</b></h6></small>
            </div>
        </div>
      </div>
    </div>
    <div class="col ">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1588312159699-a24be4f1d0e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGthcm5hdGFrYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&h=270&q=60" class="img-fluid d-block  my-3  w-60.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Gokarna Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted blink"style="color:red"><H6 style="color:red"> <b>Trending</b></h6></small>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://images.unsplash.com/photo-1620414494380-9d8ce6a24685?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGthcm5hdGFrYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&h=270&q=60" class="img-fluid d-block  my-3  w-60.05" alt="...">

        <div class="card-body">
          <p class="card-text">Namma Mudigere Package</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <form action="/register">
                <input type="submit" value="Register now"style="color:yellow" class="submit w-100 btn btn-dark btn-primary"></button>
              </form>  
              
            </div>
            <small class="text-muted"style="color:yellow">New Arrival</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="//code.tidio.co/girfq2hdi8vnoibz46qjygvnfd70awvp.js" async></script>

{% endblock body %}


  